<h2 class="content-block">Stock Depot List </h2>


<dx-data-grid class="dx-card wide-card" keyExpr="cod_art" [dataSource]="dataSource" [showBorders]="false"
  [focusedRowEnabled]="true" [focusedRowIndex]="0" [columnAutoWidth]="true" [columnHidingEnabled]="true"
  [columnAutoWidth]="true" [showBorders]="true">

  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column dataField="cod_art" [hidingPriority]="2">
  </dxi-column>
  <dxi-column dataField="cod_dep" caption="cod_dep" [hidingPriority]="8">
  </dxi-column>
  <dxi-column dataField="desg_art" caption="desg_art" [hidingPriority]="6">
  </dxi-column>
  <dxi-column dataField="qte_stk" caption="qte_stk" [hidingPriority]="5">

  </dxi-column>
  <dxi-column dataField="pvht" caption="pvht" [allowSorting]="false" [hidingPriority]="7">
  </dxi-column>
  <dxi-column dataField="pvttc" caption="pvttc" [hidingPriority]="3">
  </dxi-column>
  <dxi-column dataField="cod_famp" caption="cod_famp" [hidingPriority]="4">
  </dxi-column>
  <dxi-column dataField="cod_cat" caption="cod_cat" name="Priority" [hidingPriority]="1">
  </dxi-column>
  <dxi-column dataField="reference" caption="reference  " [hidingPriority]="0">
  </dxi-column>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager></dxo-pager>
  <!-- <dxo-pager [showInfo]="true"></dxo-pager> -->
</dx-data-grid>